0x0F-python-object_relational_mapping/100-create_states_cities.sql
0x0F-python-object_relational_mapping/14-create_database.sql
0x0F-python-object_relational_mapping/__pycache__/model_city.cpython-311.pyc
0x0F-python-object_relational_mapping/__pycache__/model_state.cpython-311.pyc
0x0F-python-object_relational_mapping/__pycache__/relationship_city.cpython-311.pyc
0x0F-python-object_relational_mapping/__pycache__/relationship_state.cpython-311.pyc
